@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">Header 1</h1>
        <p class="lead">Leading paragraph</p>
        <ul class="list-unstyled">
            <li>Number 1</li>
            <li>Number 2</li>
        </ul>
    </div>
</div>