

<div class="container container-outline">

    Audio Controller

    <button id="startRecording">Start</button>
    <button id="stopRecording">Stop</button>

    <audio id="audioControls" controls="" ><source id="audioSource" type="audio/webm"></audio>
</div>