@using Services.Entities.VerificationProfile
@model EnrollVerificationProfile

@section Scripts {
    <script src="~/js/EnrollVerificationAudio.js"></script>
    <script src="~/js/RecordAudio.js"></script>
    <script type="text/javascript" src="~/js/wav-audio-encoder-js/lib/WavAudioEncoder.js"></script>
}

<form asp-controller="AudioVerification" asp-action="EnrollProfile" method="post" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.Id)
    
    <button id="startRecording">Start</button>

    <button id="stopRecording">Stop</button>
</form>

<table>
    <tbody>
    @foreach (var verificationPhrase in Model.VerificationPhrases)
    {
        <tr>
            <td>@verificationPhrase.Phrase</td>
        </tr>
    }
    </tbody>
</table>


<div class="col-12" id="status"></div>