@using Services.Entities.VerificationProfile
@model EnrollVerificationProfile

@section Scripts {
    <script src="~/js/EnrollVerificationAudio.js"></script>
    <script src="~/js/recorder.js"></script>
}

<div class="container container-outline">

    <div class="row row-padding ">
        <h3 class="page-sub-heading">Enroll profile</h3>
    </div>

    <div class="row row-padding">
        <div class="col-md-12">
            <form asp-controller="AudioVerification" asp-action="EnrollProfile" method="post" enctype="multipart/form-data">

                @Html.AntiForgeryToken()

                @Html.HiddenFor(x => x.Id)

                <button id="startRecording" class="btn btn-info">Start recording</button>

                <button id="stopRecording" class="btn btn-info hidden">Stop recording</button>
            </form>
        </div>
    </div>
    <div class="row row-padding">
        <div class="col-md-6">
            <table id="phrases">
                <tbody>
                    @foreach (var verificationPhrase in Model.VerificationPhrases)
                {
                    <tr>
                        <td>@verificationPhrase.Phrase</td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
        <div class="col-md-6 verificationStatus" id="status"></div>
    </div>
</div>