@using Services.Entities.Audio
@model IQueryable<AudioProfile>

@section Scripts {
    <script src="~/js/VerifySpeaker.js"></script>
    <script src="~/js/recorder.js"></script>
}
<div class="container container-outline">
    
    <div class="row row-padding">
        <div class="col-md-12">
            <div class="float-right">
                <a href="https://westus.dev.cognitive.microsoft.com/docs/services/563309b6778daf02acc0a508/operations/5645c3271984551c84ec6797" target="_blank">Speaker Recognition API - v1.0 reference</a>
            </div>
        </div>
    </div>

    @if (!Model.Any())
    {
        <div class="row row-padding">
            <div class="col-md-12">
                <div>
                    No verification profiles exist, try <a asp-action="CreateProfile" asp-controller="AudioVerification" class="btn btn-info">creating</a> a profile.
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row row-padding">
            <div class="col-md-6">
                <form asp-action="VerifySpeaker" asp-controller="AudioVerification"  method="post" enctype="multipart/form-data">

                    <a asp-action="CreateProfile" asp-controller="AudioVerification" class="btn btn-info button">Create Profile</a>

                    @Html.AntiForgeryToken()

                    <button id="startRecording" class="btn btn-info">Start recording</button>

                    <button id="stopRecording" class="btn btn-info hidden">Stop recording</button>

                    <span id="timer"></span>
                </form>
            </div>
        </div>

        <div class="row row-padding">
            <div class="col-md-6">
                <table id="verification">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Confidence</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var profile in Model)
                    {
                        <tr id="@profile.Id">
                            <td>@Html.RadioButton("SelectedProfile", profile.Id, false)
                            <td>@profile.Name</td>
                            <td></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div id="status"> </div>
            </div>
        </div>
    }
</div>
