@{
    Layout = @"/Features/Shared/_Layout.cshtml";

    var action = this.ViewContext.ActionDescriptor.RouteValues["action"];
}

<ul class="nav nav-tabs layout-margin-top">
    <li class="nav-item">
        <a asp-controller="Images" asp-action="Index" class="nav-link @(String.CompareOrdinal(action, "Index") == 0 ? "active" : string.Empty)" >List</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Images" asp-action="Upload" class="nav-link @(string.CompareOrdinal(action, "Upload") == 0 ? "active" : string.Empty)">Upload</a>
    </li>
</ul>

@RenderBody()