@model List<Services.Entities.Image>
    
<div class="container container-outline">
    <div class="row row-padding">

        @if (!Model.Any())
        {
            <div class="col-md-12">
                <div>
                    No images to view, try <a asp-action="Upload" asp-controller="Images">uploading</a> one.
                </div>
            </div>
        }

        @foreach (var image in Model)
        {
            <div class="col-md-3">
                <div class="card box-shadow">
                    <a asp-action="View" asp-controller="Images" asp-route-id="@image.RowKey">
                        <img class="card-img-top card-img-bottom" src="@image.ThumbUri" title="@image.OtherDescription?.Description?.Captions[0].Text" alt="@image.OtherDescription?.Description?.Captions[0].Text" display: block;">
                    </a>
                </div>
            </div>
        }
    </div>
</div>