@using Services.Entities
@model List<Image>
@{
    var index = 0;
    var imagesPerRow = 4;
}

<div class="container container-outline">

    @if (!Model.Any())
    {
        <div class="row row-padding">
            <div class="col-md-12">
                <div>
                    No images to view, try <a asp-action="Upload" asp-controller="Images">uploading</a> one.
                </div>
            </div>
        </div>
    }
    
    @do
    {
        <div class="row row-padding">
            @foreach (var image in Model.Skip(index * imagesPerRow).Take(imagesPerRow))
            {
                <div class="col-md-3 image_card">
                    <div class="card box-shadow">
                        <a asp-action="View" asp-controller="Images" asp-route-id="@image.RowKey">
                            <img class="card-img-top card-img-bottom" src="@image.ImageThumbnailUri" title="@image.DeseralisedAnalyse?.Description?.Captions[0].Text" alt="@image.DeseralisedAnalyse?.Description?.Captions[0].Text" style="display:block;">
                        </a>
                    </div>
                </div> 
            }
        </div>
        index++;
    } while (index * imagesPerRow < Model.Count);
</div>