 body {
     padding-top: 54px;
 }
      
 @media (min-width: 992px) {
     body {
         padding-top: 56px;
     }
 }

 .main-container {
     min-height: 640px;
 }

.text-align-center {
     text-align: center;
}

 .bd-footer {
     font-size: 85%;
     text-align: center;
     background-color: #f7f7f7;
 }

 .bd-footer a {
     font-weight: 500;
     color: #495057;
 }

 .bd-footer a:hover, .bd-footer a:focus {
     color: #007bff;
 }

 .bd-footer p {
     margin-bottom: 0;
 }

 .bd-footer-links {
     padding-left: 0;
     margin-bottom: 0rem;
 }

 .bd-footer-links li {
     display: inline-block;
 }

 .bd-footer-links li + li {
     margin-left: 1rem;
 }

 .image {
     width: 100%;
 }

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.row-padding {
    padding-top: 15px;
}

.container-outline {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 15px;
}

.image-requirements-text {
    font-style: italic;
}

 .image-requirements-block {
     font-size: 14px;
     padding-top: 30px;
 }

 .image-upload-form {
     padding-top: 30px;
 }

.validation-summary-errors {
    color: red;
}

.tab-border {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}