@using Services.Entities.Audio
@model AudioProfile

<form asp-controller="AudioIdentification" asp-action="CreateProfile" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    @Html.EditorFor(x => x.Name)
    
    @Html.DropDownListFor(m => m.SelectedLocale, new SelectList(Model.Locale, "Value", "Text"), "Select")

    <input type="submit" value="Submit" />

</form>