@using Services.Entities.Audio
@model EnrollProfile

@section Scripts {
    <script src="~/js/EnrollIdentificationAudio.js"></script>
    <script src="~/js/recorder.js"></script>
}

<div class="container container-outline">

    <div class="row row-padding ">
        <h3 class="page-sub-heading">Enroll profile</h3>
    </div>

    <div class="row row-padding">
        <div class="col-md-3">

            <div class="col-md-12">
                <form asp-controller="AudioIdentification" asp-action="EnrollProfile" method="post" enctype="multipart/form-data">

                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(x => x.Id)

                    <button id="startRecording" class="btn btn-info button">Start recording</button>

                    <button id="stopRecording" class="btn btn-info hidden button">Stop recording</button>

                    <span id="timer"></span>
                </form>
            </div>
            <div class="col-md-12">
                Provide at least 30 seconds of audio to enroll your profile.
            </div>
        </div>
        <div class="col-md-9">
            <div id="status" class="enrollTimer"> </div>
        </div>
    </div>
</div>