@using Services.Entities.Audio
@model EnrollProfile

@section Scripts {
    <script src="~/js/EnrollIdentificationAudio.js"></script>
    <script src="~/js/RecordAudio.js"></script>
    <script type="text/javascript" src="~/js/wav-audio-encoder-js/lib/WavAudioEncoder.js"></script>
}

<form asp-controller="AudioIdentification" asp-action="EnrollProfile" method="post" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.Id)

    <button id="startRecording">Start</button>

    <button id="stopRecording">Stop</button>
</form>

<div class="col-12" id="status"></div>