@using Services.Entities.Audio
@model IQueryable<AudioProfile>

@section Scripts {
    <script src="~/js/IdentifySpeaker.js"></script>
    <script src="~/js/recorder.js"></script>
}

<div class="container container-outline">
    
    @if (!Model.Any())
    {
        <div class="row row-padding">
            <div class="col-md-12">
                <div>
                    No identification profiles exist, try <a asp-action="CreateProfile" asp-controller="AudioIdentification" class="btn btn-info">creating</a> a profile.
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row row-padding">
            <div class="col-md-12">
                <form asp-action="EnrollProfile" asp-controller="AudioIdentification"  method="post" enctype="multipart/form-data">

                    <a asp-action="CreateProfile" asp-controller="AudioIdentification" class="btn btn-info button">Create Profile</a>

                    @Html.AntiForgeryToken()

                    <button id="startRecording" class="btn btn-info button">Start recording</button>

                    <button id="stopRecording" class="btn btn-info hidden button">Stop recording</button>

                    <span id="timer"></span>
                </form>
            </div>
        </div>

        <div class="row row-padding">
            <div class="col-md-6">
                <table id="speakers">
                    <tbody>
                    @foreach (var profile in Model)
                    {
                        <tr id="@profile.Id">
                            <td>@profile.Name</td>
                            <td></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div id="status"> </div>
            </div>
        </div>
    }
</div>
