@using Services.Entities.Audio
@model IQueryable<AudioProfile>

@section Scripts {
    <script src="~/js/IdentifySpeaker.js"></script>
    <script src="~/js/recorder.js"></script>
}

<form asp-controller="AudioIdentification" asp-action="EnrollProfile" method="post" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    <button id="startRecording">Start</button>

    <button id="stopRecording">Stop</button>
</form>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var profile in Model)
        {
            <tr id="@profile.Id">
                <td>@profile.Name</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<div class="col-12" id="status"></div>