<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>@if (ViewData.ContainsKey("PageTitle")) { @ViewData["PageTitle"] } else { <text>Cognitive Azure</text> } </title>
        
        <environment include="Development">
            <link href="/css/bootstrap.css" rel="stylesheet" />
            <link href="/css/bootstrap-grid.css" rel="stylesheet" />
            <link href="/css/bootstrap-reboot.css" rel="stylesheet" />
            <link href="/css/site.css" rel="stylesheet" />
        </environment>
        <environment exclude="Development">
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="/css/site.min.css" rel="stylesheet" />
        </environment>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" asp-action="Index" asp-controller="Images">Cognitive Azure</a>
                <div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">

                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="mailto:paul@pbreen.co.uk">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="About" asp-controller="Home">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container main-container">
            @RenderBody()
        </div>

        <footer class="bd-footer text-muted">
            <div class="container-fluid p-1 p-md-1 text-align-center">
                <ul class="bd-footer-links">
                    <li><a href="//twitter.com/paulbreen" target="_blank">Twitter</a></li>
                    <li><a href="mailto:paul@pbreen.co.uk">Contact</a></li>
                    <li><a asp-action="About" asp-controller="Home">About</a></li>
                </ul>
            </div>
            <div class="container-fluid p-1 p-md-1 text-align-center">
                <a href="//pbreen.co.uk" target="_blank">Paul Breen </a> &copy; @DateTime.UtcNow.Year
            </div>
        </footer>
        <environment include="Development">
            <script src="/lib/jquery/dist/jquery.js"></script>
            <script src="/js/bootstrap.js"></script>

        </environment>
    <environment exclude="Development">
        <script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </environment>
    
    @RenderSection("Scripts", false) 
    
    </body>
</html>