@if (!ViewData.ModelState.IsValid)
{
    <div class="col-md-12">
        <div class="validation-summary-errors">@Html.ValidationSummary("Please correct the following validations errors and try again")</div>
    </div>
}